
html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.text-node { background-clip: text !important; -webkit-background-clip: text !important; }


html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.text-node { background-clip: text !important; -webkit-background-clip: text !important; }

/* TARGET SHOOTER — MASTER / IDLE */
.t-a-r-g-e-t-s-h-o-aa23c3818e55 {
  position: relative;
  width: 1366px;
  height: 768px;
  background: #ffffffFF;
  overflow: hidden;
  z-index: 0;
}

/* DuduQ Target Shooter */
.dudu-q-targ-aa23c388d10a {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1366px;
  height: 768px;
  overflow: hidden;
}

/* background */
.background-aa23d17c840d {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1366px;
  height: 768px;
  background: url(https://design.penpot.app/assets/by-file-media-id/d8ac01df-6646-81d2-8008-aa23dabe5588) no-repeat center center / cover;
}

/* ALVO PARA CÃES */
.a-l-v-o-p-a-r-a-aa23d17532e4 {
  position: absolute;
  left: 196px;
  top: 287px;
  width: 184px;
  height: 236px;
}

/* ALVO DE GATO */
.a-l-v-o-d-e-g-a-aa23ced2efbf {
  position: absolute;
  left: 460px;
  top: 220px;
  width: 184px;
  height: 236px;
}

/* ALVO DE COELHO */
.a-l-v-o-d-e-c-o-aa23cd1269d3 {
  position: absolute;
  left: 705px;
  top: 305px;
  width: 184px;
  height: 236px;
}

/* ALVO DE PEIXE */
.a-l-v-o-d-e-p-e-aa23cb89acd6 {
  position: absolute;
  left: 970px;
  top: 236px;
  width: 184px;
  height: 236px;
}

/* Canhão Mágico */
.canho-mg-aa23c92482cc {
  position: absolute;
  left: 529px;
  top: 542px;
  width: 308px;
  height: 220px;
}

/* 02 — QUESTION HUD */
.c-02-q-u-e-s-t-aa3ca706f229 {
  position: absolute;
  left: 325px;
  top: 133px;
  width: 720px;
  height: 86px;
}

/* Cabeçalho de Atirador de Alvo */
.cabealho-aa6396add546 {
  position: absolute;
  left: 155px;
  top: 12px;
  width: 1056px;
  height: 94px;
}

/* target-base */
.targetbas-aa23d15c0347 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 184px;
  height: 236px;
  background: url(https://design.penpot.app/assets/by-file-media-id/c514c1fb-1cda-8125-8008-aa23cc8ef2a8) no-repeat center center / cover;
}

/* target-animal */
.targetani-aa23cf4c2dd6 {
  position: absolute;
  left: 45px;
  top: 41px;
  width: 93px;
  height: 105px;
  background: url(https://design.penpot.app/assets/by-file-media-id/c514c1fb-1cda-8125-8008-aa23d266be9b) no-repeat center center / cover;
}

/* CÃO / ESTADOS */
.c-o-e-s-t-a-aa23cf44a6a6 {
  position: absolute;
  left: 3px;
  top: 4px;
  width: 178px;
  height: 178px;
}

/* CÃO / SELECT / RING */
.c-o-s-e-l-e-aa23cf33ea21 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.c-o-s-e-l-e-aa23cf33ea21 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
  opacity: 0.01;
}

/* CÃO / CORRECT */
.c-o-c-o-r-r-aa23cf2e5ddf {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
  opacity: 0.01;
}

/* CÃO / INCORRECT */
.c-o-i-n-c-o-aa23cefefa01 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
  opacity: 0.01;
}

/* base-background */
.basebackg-aa23cf34a6d5 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-aa23cf34a6d5 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
  display: none;
}

/* svg-path */
.svgpath-aa23cf34a6d6 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-aa23cf34a6d6 {
  position: absolute;
  left: 6px;
  top: 6px;
  width: 166px;
  height: 166px;
}

/* svg-path */
.svgpath-aa23cf34a6d7 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-aa23cf34a6d7 {
  position: absolute;
  left: 2.5px;
  top: 2.5px;
  width: 173px;
  height: 173px;
}

/* CÃO / CORRECT / RING */
.c-o-c-o-r-r-aa23cf232404 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.c-o-c-o-r-r-aa23cf232404 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
}

/* CÃO / CORRECT / BADGE */
.c-o-c-o-r-r-aa23cf1ea4e4 {
  position: absolute;
  left: 129.92px;
  top: 4.07px;
  width: 44px;
  height: 44px;
}

/* base-background */
.basebackg-aa23cf23c535 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-aa23cf23c535 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
  display: none;
}

/* svg-path */
.svgpath-aa23cf23c536 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-aa23cf23c536 {
  position: absolute;
  left: 6px;
  top: 6px;
  width: 166px;
  height: 166px;
}

/* svg-path */
.svgpath-aa23cf243026 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-aa23cf243026 {
  position: absolute;
  left: 2.5px;
  top: 2.5px;
  width: 173px;
  height: 173px;
}

/* CÃO / CORRECT / BADGE */
.c-o-c-o-r-r-aa23cf1660f4 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 44px;
  height: 44px;
  background: #39b66cFF;
  border: 3.56px solid #ffffffFF;
  border-start-start-radius: 50px;
  border-start-end-radius: 50px;
  border-end-start-radius: 50px;
  border-end-end-radius: 50px;
  box-shadow: 0px 0px 0px 3px #c8ffdcB8;
}

/* CÃO / CORRECT / ICON */
.c-o-c-o-r-r-aa23cf03de34 {
  position: absolute;
  left: 11.89px;
  top: 3.17px;
  height: 38px;
}
.c-o-c-o-r-r-aa23cf03de34 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.c-o-c-o-r-r-aa23cf03de34 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.c-o-c-o-r-r-aa23cf03de34 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.5541217602196302;
  margin: 0;
  text-align: left;
}
.c-o-c-o-r-r-aa23cf03de34 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 24.02214836795245px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
}

/* CÃO / INCORRECT / RING */
.c-o-i-n-c-o-aa23cef4423e > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.c-o-i-n-c-o-aa23cef4423e {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
}

/* CÃO / INCORRECT / BADGE */
.c-o-i-n-c-o-aa23ceef76dd {
  position: absolute;
  left: 129.92px;
  top: 4.07px;
  width: 44px;
  height: 44px;
}

/* base-background */
.basebackg-aa23cef5ea70 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-aa23cef5ea70 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
  display: none;
}

/* svg-path */
.svgpath-aa23cef5ea71 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-aa23cef5ea71 {
  position: absolute;
  left: 6px;
  top: 6px;
  width: 166px;
  height: 166px;
}

/* svg-path */
.svgpath-aa23cef5ea72 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-aa23cef5ea72 {
  position: absolute;
  left: 2.5px;
  top: 2.5px;
  width: 173px;
  height: 173px;
}

/* CÃO / INCORRECT / BADGE */
.c-o-i-n-c-o-aa23cee7f372 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 44px;
  height: 44px;
  background: #ef6f6bFF;
  border: 3.56px solid #ffffffFF;
  border-start-start-radius: 50px;
  border-start-end-radius: 50px;
  border-end-start-radius: 50px;
  border-end-end-radius: 50px;
  box-shadow: 0px 0px 0px 3px #ffd0c9B8;
}

/* CÃO / INCORRECT / ICON */
.c-o-i-n-c-o-aa23ced920c1 {
  position: absolute;
  left: 13.08px;
  top: 3.17px;
  height: 38px;
}
.c-o-i-n-c-o-aa23ced920c1 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.c-o-i-n-c-o-aa23ced920c1 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.c-o-i-n-c-o-aa23ced920c1 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.6809291411817622;
  margin: 0;
  text-align: left;
}
.c-o-i-n-c-o-aa23ced920c1 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 22.209944840156975px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
}

/* target-base */
.targetbas-aa23cec9a090 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 184px;
  height: 236px;
  background: url(https://design.penpot.app/assets/by-file-media-id/c514c1fb-1cda-8125-8008-aa23cc8ef2a8) no-repeat center center / cover;
}

/* target-animal */
.targetani-aa23cd8cee13 {
  position: absolute;
  left: 44px;
  top: 53px;
  width: 93px;
  height: 105px;
  background: url(https://design.penpot.app/assets/by-file-media-id/c514c1fb-1cda-8125-8008-aa23cfdf7450) no-repeat center center / cover;
}

/* GATO / ESTADOS */
.g-a-t-o-e-s-t-aa23cd86a524 {
  position: absolute;
  left: 3px;
  top: 4px;
  width: 178px;
  height: 178px;
}

/* svg */
.svg-aa23cd73e6f9 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svg-aa23cd73e6f9 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
  opacity: 0.01;
}

/* GATO / CORRECT */
.g-a-t-o-c-o-r-aa23cd6dea22 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
  opacity: 0.01;
}

/* GATO / INCORRECT */
.g-a-t-o-i-n-c-aa23cd4270d4 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
  opacity: 0.01;
}

/* base-background */
.basebackg-aa23cd744c89 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-aa23cd744c89 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
  display: none;
}

/* svg-path */
.svgpath-aa23cd74b3aa > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-aa23cd74b3aa {
  position: absolute;
  left: 6px;
  top: 6px;
  width: 166px;
  height: 166px;
}

/* svg-path */
.svgpath-aa23cd74b3ab > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-aa23cd74b3ab {
  position: absolute;
  left: 2.5px;
  top: 2.5px;
  width: 173px;
  height: 173px;
}

/* svg */
.svg-aa23cd62cb20 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svg-aa23cd62cb20 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
}

/* target-state-badge */
.targetsta-aa23cd5e6d7c {
  position: absolute;
  left: 129.92px;
  top: 4.07px;
  width: 44px;
  height: 44px;
}

/* base-background */
.basebackg-aa23cd63a546 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-aa23cd63a546 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
  display: none;
}

/* svg-path */
.svgpath-aa23cd63ffce > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-aa23cd63ffce {
  position: absolute;
  left: 6px;
  top: 6px;
  width: 166px;
  height: 166px;
}

/* svg-path */
.svgpath-aa23cd63ffcf > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-aa23cd63ffcf {
  position: absolute;
  left: 2.5px;
  top: 2.5px;
  width: 173px;
  height: 173px;
}

/* target-state-badge */
.targetsta-aa23cd56bffd {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 44px;
  height: 44px;
  background: #39b66cFF;
  border: 3.56px solid #ffffffFF;
  border-start-start-radius: 50px;
  border-start-end-radius: 50px;
  border-end-start-radius: 50px;
  border-end-end-radius: 50px;
  box-shadow: 0px 0px 0px 3px #c8ffdcB8;
}

/* span */
.span-aa23cd481eab {
  position: absolute;
  left: 11.89px;
  top: 3.17px;
  height: 38px;
}
.span-aa23cd481eab .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.span-aa23cd481eab .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.span-aa23cd481eab .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.5541217602196256;
  margin: 0;
  text-align: left;
}
.span-aa23cd481eab .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 24.02214836795252px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
}

/* svg */
.svg-aa23cd33cbb4 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svg-aa23cd33cbb4 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
}

/* target-state-badge */
.targetsta-aa23cd2f4e12 {
  position: absolute;
  left: 129.92px;
  top: 4.07px;
  width: 44px;
  height: 44px;
}

/* base-background */
.basebackg-aa23cd34ff1a > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-aa23cd34ff1a {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
  display: none;
}

/* svg-path */
.svgpath-aa23cd34ff1b > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-aa23cd34ff1b {
  position: absolute;
  left: 6px;
  top: 6px;
  width: 166px;
  height: 166px;
}

/* svg-path */
.svgpath-aa23cd3504bb > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-aa23cd3504bb {
  position: absolute;
  left: 2.5px;
  top: 2.5px;
  width: 173px;
  height: 173px;
}

/* target-state-badge */
.targetsta-aa23cd2833a7 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 44px;
  height: 44px;
  background: #ef6f6bFF;
  border: 3.56px solid #ffffffFF;
  border-start-start-radius: 50px;
  border-start-end-radius: 50px;
  border-end-start-radius: 50px;
  border-end-end-radius: 50px;
  box-shadow: 0px 0px 0px 3px #ffd0c9B8;
}

/* span */
.span-aa23cd18cac6 {
  position: absolute;
  left: 13.08px;
  top: 3.17px;
  height: 38px;
}
.span-aa23cd18cac6 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.span-aa23cd18cac6 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.span-aa23cd18cac6 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.680929141181758;
  margin: 0;
  text-align: left;
}
.span-aa23cd18cac6 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 22.209944840157032px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
}

/* target-base */
.targetbas-aa23cd0993bc {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 184px;
  height: 236px;
  background: url(https://design.penpot.app/assets/by-file-media-id/c514c1fb-1cda-8125-8008-aa23cc8ef2a8) no-repeat center center / cover;
}

/* target-animal */
.targetani-aa23cbff7731 {
  position: absolute;
  left: 48px;
  top: 57px;
  width: 108px;
  height: 114px;
  background: url(https://design.penpot.app/assets/by-file-media-id/c514c1fb-1cda-8125-8008-aa23ce0dec2e) no-repeat center center / cover;
}

/* COELHO / ESTADOS */
.c-o-e-l-h-o-e-aa23cbf80dfc {
  position: absolute;
  left: 3px;
  top: 4px;
  width: 178px;
  height: 178px;
}

/* svg */
.svg-aa23cbe9883e > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svg-aa23cbe9883e {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
  opacity: 0.01;
}

/* COELHO / CORRECT */
.c-o-e-l-h-o-c-aa23cbe3e7e4 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
  opacity: 0.01;
}

/* COELHO / INCORRECT */
.c-o-e-l-h-o-i-aa23cbb88b41 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
  opacity: 0.01;
}

/* base-background */
.basebackg-aa23cbea447f > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-aa23cbea447f {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
  display: none;
}

/* svg-path */
.svgpath-aa23cbea820c > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-aa23cbea820c {
  position: absolute;
  left: 6px;
  top: 6px;
  width: 166px;
  height: 166px;
}

/* svg-path */
.svgpath-aa23cbea820d > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-aa23cbea820d {
  position: absolute;
  left: 2.5px;
  top: 2.5px;
  width: 173px;
  height: 173px;
}

/* svg */
.svg-aa23cbdacdf4 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svg-aa23cbdacdf4 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
}

/* target-state-badge */
.targetsta-aa23cbd515ba {
  position: absolute;
  left: 129.92px;
  top: 4.07px;
  width: 44px;
  height: 44px;
}

/* base-background */
.basebackg-aa23cbdb8cbc > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-aa23cbdb8cbc {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
  display: none;
}

/* svg-path */
.svgpath-aa23cbdb8cbd > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-aa23cbdb8cbd {
  position: absolute;
  left: 6px;
  top: 6px;
  width: 166px;
  height: 166px;
}

/* svg-path */
.svgpath-aa23cbdb8cbe > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-aa23cbdb8cbe {
  position: absolute;
  left: 2.5px;
  top: 2.5px;
  width: 173px;
  height: 173px;
}

/* target-state-badge */
.targetsta-aa23cbcd7134 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 44px;
  height: 44px;
  background: #39b66cFF;
  border: 3.56px solid #ffffffFF;
  border-start-start-radius: 50px;
  border-start-end-radius: 50px;
  border-end-start-radius: 50px;
  border-end-end-radius: 50px;
  box-shadow: 0px 0px 0px 3px #c8ffdcB8;
}

/* span */
.span-aa23cbbe8574 {
  position: absolute;
  left: 11.89px;
  top: 3.17px;
  height: 38px;
}
.span-aa23cbbe8574 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.span-aa23cbbe8574 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.span-aa23cbbe8574 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.5541217602196256;
  margin: 0;
  text-align: left;
}
.span-aa23cbbe8574 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 24.02214836795252px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
}

/* svg */
.svg-aa23cbace43b > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svg-aa23cbace43b {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
}

/* target-state-badge */
.targetsta-aa23cba873c1 {
  position: absolute;
  left: 129.92px;
  top: 4.07px;
  width: 44px;
  height: 44px;
}

/* base-background */
.basebackg-aa23cbadb7bc > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-aa23cbadb7bc {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
  display: none;
}

/* svg-path */
.svgpath-aa23cbadca8c > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-aa23cbadca8c {
  position: absolute;
  left: 6px;
  top: 6px;
  width: 166px;
  height: 166px;
}

/* svg-path */
.svgpath-aa23cbadca8d > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-aa23cbadca8d {
  position: absolute;
  left: 2.5px;
  top: 2.5px;
  width: 173px;
  height: 173px;
}

/* target-state-badge */
.targetsta-aa23cba0829d {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 44px;
  height: 44px;
  background: #ef6f6bFF;
  border: 3.56px solid #ffffffFF;
  border-start-start-radius: 50px;
  border-start-end-radius: 50px;
  border-end-start-radius: 50px;
  border-end-end-radius: 50px;
  box-shadow: 0px 0px 0px 3px #ffd0c9B8;
}

/* span */
.span-aa23cb909122 {
  position: absolute;
  left: 13.08px;
  top: 3.17px;
  height: 38px;
}
.span-aa23cb909122 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.span-aa23cb909122 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.span-aa23cb909122 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.680929141181758;
  margin: 0;
  text-align: left;
}
.span-aa23cb909122 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 22.209944840157032px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
}

/* target-base */
.targetbas-aa23ca741cc6 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 184px;
  height: 236px;
  background: url(https://design.penpot.app/assets/by-file-media-id/c514c1fb-1cda-8125-8008-aa23cc8ef2a8) no-repeat center center / cover;
}

/* target-animal */
.targetani-aa23c991f9ff {
  position: absolute;
  left: 45px;
  top: 58px;
  width: 98px;
  height: 98px;
  background: url(https://design.penpot.app/assets/by-file-media-id/c514c1fb-1cda-8125-8008-aa23cb6fd550) no-repeat center center / cover;
}

/* PEIXE / ESTADOS */
.p-e-i-x-e-e-s-aa23c98be35f {
  position: absolute;
  left: 3px;
  top: 4px;
  width: 178px;
  height: 178px;
}

/* svg */
.svg-aa23c9810708 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svg-aa23c9810708 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
  opacity: 0.01;
}

/* PEIXE / CORRECT */
.p-e-i-x-e-c-o-aa23c97c63ef {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
  opacity: 0.01;
}

/* PEIXE / INCORRECT */
.p-e-i-x-e-i-n-aa23c9506990 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
  opacity: 0.01;
}

/* base-background */
.basebackg-aa23c981e985 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-aa23c981e985 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
  display: none;
}

/* svg-path */
.svgpath-aa23c98232af > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-aa23c98232af {
  position: absolute;
  left: 6px;
  top: 6px;
  width: 166px;
  height: 166px;
}

/* svg-path */
.svgpath-aa23c98232b0 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-aa23c98232b0 {
  position: absolute;
  left: 2.5px;
  top: 2.5px;
  width: 173px;
  height: 173px;
}

/* svg */
.svg-aa23c970daea > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svg-aa23c970daea {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
}

/* target-state-badge */
.targetsta-aa23c96c8825 {
  position: absolute;
  left: 129.92px;
  top: 4.07px;
  width: 44px;
  height: 44px;
}

/* base-background */
.basebackg-aa23c971bd44 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-aa23c971bd44 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
  display: none;
}

/* svg-path */
.svgpath-aa23c971e459 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-aa23c971e459 {
  position: absolute;
  left: 6px;
  top: 6px;
  width: 166px;
  height: 166px;
}

/* svg-path */
.svgpath-aa23c971e45a > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-aa23c971e45a {
  position: absolute;
  left: 2.5px;
  top: 2.5px;
  width: 173px;
  height: 173px;
}

/* target-state-badge */
.targetsta-aa23c9654ae9 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 44px;
  height: 44px;
  background: #39b66cFF;
  border: 3.56px solid #ffffffFF;
  border-start-start-radius: 50px;
  border-start-end-radius: 50px;
  border-end-start-radius: 50px;
  border-end-end-radius: 50px;
  box-shadow: 0px 0px 0px 3px #c8ffdcB8;
}

/* span */
.span-aa23c9559c28 {
  position: absolute;
  left: 11.89px;
  top: 3.17px;
  height: 38px;
}
.span-aa23c9559c28 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.span-aa23c9559c28 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.span-aa23c9559c28 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.5541217602196256;
  margin: 0;
  text-align: left;
}
.span-aa23c9559c28 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 24.02214836795252px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
}

/* svg */
.svg-aa23c9453c76 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svg-aa23c9453c76 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
}

/* target-state-badge */
.targetsta-aa23c9409bd5 {
  position: absolute;
  left: 129.92px;
  top: 4.07px;
  width: 44px;
  height: 44px;
}

/* base-background */
.basebackg-aa23c94582ec > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-aa23c94582ec {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
  display: none;
}

/* svg-path */
.svgpath-aa23c945c784 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-aa23c945c784 {
  position: absolute;
  left: 6px;
  top: 6px;
  width: 166px;
  height: 166px;
}

/* svg-path */
.svgpath-aa23c945c785 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-aa23c945c785 {
  position: absolute;
  left: 2.5px;
  top: 2.5px;
  width: 173px;
  height: 173px;
}

/* target-state-badge */
.targetsta-aa23c938b6c5 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 44px;
  height: 44px;
  background: #ef6f6bFF;
  border: 3.56px solid #ffffffFF;
  border-start-start-radius: 50px;
  border-start-end-radius: 50px;
  border-end-start-radius: 50px;
  border-end-end-radius: 50px;
  box-shadow: 0px 0px 0px 3px #ffd0c9B8;
}

/* span */
.span-aa23c929bf80 {
  position: absolute;
  left: 13.08px;
  top: 3.17px;
  height: 38px;
}
.span-aa23c929bf80 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.span-aa23c929bf80 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.span-aa23c929bf80 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.6809291411817797;
  margin: 0;
  text-align: left;
}
.span-aa23c929bf80 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 22.209944840156744px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
}

/* magic-cannon-base */
.magiccann-aa23c8569cf7 {
  position: absolute;
  left: 0px;
  top: 88px;
  width: 308px;
  height: 132px;
  background: url(https://design.penpot.app/assets/by-file-media-id/c514c1fb-1cda-8125-8008-aa23ca4201cb) no-repeat center center / cover;
}

/* magic-cannon-support */
.magiccann-aa23c77147c1 {
  position: absolute;
  left: 2px;
  top: 68px;
  width: 304px;
  height: 152px;
  background: url(https://design.penpot.app/assets/by-file-media-id/d8ac01df-6646-81d2-8008-aa23c96159c2) no-repeat center center / cover;
}

/* magic-cannon-barrel */
.magiccann-aa23c67e5052 {
  position: absolute;
  left: 60px;
  top: 0px;
  width: 188px;
  height: 210px;
  background: url(https://design.penpot.app/assets/by-file-media-id/c514c1fb-1cda-8125-8008-aa23c871ead9) no-repeat center center / cover;
}

/* 02 — QUESTION HUD */
.c-02-q-u-e-s-t-aa3ca706f22a {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 720px;
  height: 86px;
  background: #fffdf7FF;
  border: 0.89px solid #e8d3a6FF;
  border-start-start-radius: 25px;
  border-start-end-radius: 25px;
  border-end-start-radius: 25px;
  border-end-end-radius: 25px;
  box-shadow: 0px 5px 0px 0px #b8a68eFF;
}

/* INSTRUCTION */
.i-n-s-t-r-u-c-t-i-o-aa3ca706f22b {
  position: absolute;
  left: 44.89px;
  top: 17.89px;
  height: 15px;
}
.i-n-s-t-r-u-c-t-i-o-aa3ca706f22b .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.i-n-s-t-r-u-c-t-i-o-aa3ca706f22b .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.i-n-s-t-r-u-c-t-i-o-aa3ca706f22b .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.0979202219551534;
  margin: 0;
  text-align: left;
}
.i-n-s-t-r-u-c-t-i-o-aa3ca706f22b .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(127, 151, 136, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 12.953790921693384px;
  text-rendering: geometricPrecision;
  caret-color: rgba(127, 151, 136, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
}

/* QUESTION */
.q-u-e-s-t-i-o-n-aa3ca706f22c {
  position: absolute;
  left: 44.89px;
  top: 36.33px;
  height: 32px;
}
.q-u-e-s-t-i-o-n-aa3ca706f22c .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.q-u-e-s-t-i-o-n-aa3ca706f22c .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.q-u-e-s-t-i-o-n-aa3ca706f22c .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.4165107114575133;
  margin: 0;
  text-align: left;
}
.q-u-e-s-t-i-o-n-aa3ca706f22c .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(54, 75, 67, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 21.963204549255728px;
  text-rendering: geometricPrecision;
  caret-color: rgba(54, 75, 67, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
}

/* BUTTON / AUDIO */
.b-u-t-t-o-n-a-aa3ca706f22d {
  position: absolute;
  left: 650.11px;
  top: 15.89px;
  width: 56px;
  height: 56px;
}

/* BUTTON / AUDIO */
.b-u-t-t-o-n-a-aa3ca706f22e {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 56px;
  height: 56px;
  background: #f4a83aFF;
  border: 0.89px solid #d58a25FF;
  border-start-start-radius: 18px;
  border-start-end-radius: 18px;
  border-end-start-radius: 18px;
  border-end-end-radius: 18px;
  box-shadow: 0px 5px 0px 0px #aa641fFF;
}

/* svg */
.svg-aa3ca706f22f > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svg-aa3ca706f22f {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 26px;
  height: 26px;
}

/* base-background */
.basebackg-aa3ca706f230 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-aa3ca706f230 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 26px;
  height: 26px;
  display: none;
}

/* svg-path */
.svgpath-aa3ca706f231 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-aa3ca706f231 {
  position: absolute;
  left: 4.33px;
  top: 6.5px;
  width: 9.75px;
  height: 13px;
}

/* svg-path */
.svgpath-aa3ca706f232 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-aa3ca706f232 {
  position: absolute;
  left: 17.33px;
  top: 10.29px;
  width: 0.95px;
  height: 5.42px;
}

/* svg-path */
.svgpath-aa3ca706f233 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,-3.637978807091713e-12px);
}
.svgpath-aa3ca706f233 {
  position: absolute;
  left: 20.37px;
  top: 7.58px;
  width: 1.9px;
  height: 10.83px;
}

/* Cabeçalho de Atirador de Alvo */
.cabealho-aa6396add547 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1056px;
  height: 94px;
  background: #fffdf7FF;
  border-start-start-radius: 28px;
  border-start-end-radius: 28px;
  border-end-start-radius: 28px;
  border-end-end-radius: 28px;
  box-shadow: 0px 5px 0px 0px #75917b54;
}

/* duduq-mascot */
.duduqmasc-aa6396add548 {
  position: absolute;
  left: 16px;
  top: 8px;
  width: 82px;
  height: 76px;
  background: url(https://design.penpot.app/assets/by-file-media-id/d8ac01df-6646-81d2-8008-aa256c336944) no-repeat center center / cover;
}

/* duduq-title */
.duduqtitl-aa6396add549 {
  position: absolute;
  left: 116px;
  top: 17.44px;
  width: 108px;
  height: 52px;
}

/* duduq-progress-track */
.duduqprog-aa6396add54a {
  position: absolute;
  left: 300px;
  top: 37px;
  width: 482px;
  height: 18px;
  background: #dce8dfFF;
  border: 0.89px solid #c8d8cdFF;
  border-start-start-radius: 20px;
  border-start-end-radius: 20px;
  border-end-start-radius: 20px;
  border-end-end-radius: 20px;
  overflow: hidden;
}

/* duduq-score */
.duduqscor-aa6396add54b {
  position: absolute;
  left: 844px;
  top: 23px;
  width: 76px;
  height: 42px;
}

/* Tela cheia */
.tela-cheia-aa6396add54c {
  position: absolute;
  left: 974px;
  top: 16px;
  width: 56px;
  height: 56px;
}

/* TARGET */
.t-a-r-g-e-t-aa6396add54d {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 29px;
}
.t-a-r-g-e-t-aa6396add54d .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.t-a-r-g-e-t-aa6396add54d .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.t-a-r-g-e-t-aa6396add54d .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.3212410787032793;
  margin: 0;
  text-align: left;
}
.t-a-r-g-e-t-aa6396add54d .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(54, 75, 67, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 21.528580298372667px;
  text-rendering: geometricPrecision;
  caret-color: rgba(54, 75, 67, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
}

/* SHOOTER */
.s-h-o-o-t-e-r-aa6396add54e {
  position: absolute;
  left: 0px;
  top: 23px;
  height: 29px;
}
.s-h-o-o-t-e-r-aa6396add54e .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.s-h-o-o-t-e-r-aa6396add54e .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.s-h-o-o-t-e-r-aa6396add54e .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2933671781705627;
  margin: 0;
  text-align: left;
}
.s-h-o-o-t-e-r-aa6396add54e .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(54, 75, 67, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 21.9925532701044px;
  text-rendering: geometricPrecision;
  caret-color: rgba(54, 75, 67, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
}

/* duduq-progress-fill */
.duduqprog-aa6396add54f {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 193px;
  height: 18px;
  background: #278fd2FF;
  border-start-start-radius: 20px;
  border-start-end-radius: 20px;
  border-end-start-radius: 20px;
  border-end-end-radius: 20px;
}

/* duduq-score */
.duduqscor-aa6396add550 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 76px;
  height: 42px;
  background: #fff0b5FF;
  border: 0.89px solid #e2c860FF;
  border-start-start-radius: 18px;
  border-start-end-radius: 18px;
  border-end-start-radius: 18px;
  border-end-end-radius: 18px;
  box-shadow: 0px 3px 0px 0px #b49d50FF;
}

/* 4 / 10 */
.c-4-10-aa6396add551 {
  position: absolute;
  left: 15.99px;
  top: 11.89px;
  height: 19px;
}
.c-4-10-aa6396add551 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.c-4-10-aa6396add551 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.c-4-10-aa6396add551 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.19379222268311;
  margin: 0;
  text-align: left;
}
.c-4-10-aa6396add551 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(88, 102, 84, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 15.636446262213134px;
  text-rendering: geometricPrecision;
  caret-color: rgba(88, 102, 84, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
}

/* Tela cheia */
.tela-cheia-aa6396add552 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 56px;
  height: 56px;
  background: #349fdfFF;
  border: 0.89px solid #1679b3FF;
  border-start-start-radius: 18px;
  border-start-end-radius: 18px;
  border-end-start-radius: 18px;
  border-end-end-radius: 18px;
  box-shadow: 0px 4px 0px 0px #175c93FF;
}

/* svg */
.svg-aa6396add553 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svg-aa6396add553 {
  position: absolute;
  left: 15.89px;
  top: 15.89px;
  width: 26px;
  height: 26px;
}

/* base-background */
.basebackg-aa6396add554 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-aa6396add554 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 26px;
  height: 26px;
  display: none;
}

/* svg-path */
.svgpath-aa6396add555 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-aa6396add555 {
  position: absolute;
  left: 3.25px;
  top: 3.25px;
  width: 19.5px;
  height: 19.5px;
}